.one {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5fr 6fr 4fr;
    grid-template-areas: 
    "nav"
    "logo"
    "form"
    "footer"
    ;
}

.nav {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-nav {
    margin: 0.8em;
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: last baseline;
    justify-content: center;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: auto;
}

#form {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 35rem;
    border: 1px solid;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
    font-size: 18px;
    text-align: center;
}

#search_btn {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
}

#form:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    background-color: #fff;
    border-color: rgba(223,225,229,0);
}

#form:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    background-color: #fff;
    border-color: rgb(223, 225, 229)
}

#form:focus-visible {
    outline: none;
}

.btn-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5px;
}

[type=submit] {
    color: #3c4043;
    margin: 11px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    width: 130px;
}

[type=submit]:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgb(223, 225, 229)

}
.footer {
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    padding: 21px 30px;
}

.made {
    display: flex;
    justify-content: center;
    font-size: 13px;
    
}
