.one {
    background-color: aqua;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5fr 3.7fr 2fr;
    grid-template-areas: 
    "nav"
    "logo"
    "form"
    "footer"
    ;
}

.nav {
    background-color: yellow;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-nav {
    margin: 0.8em;
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.logo {
    background-color: bisque;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.form {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: auto;
}

#form {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 35rem;
    border-radius: 25em;
    font-size: 18px;
    text-align: center;
}

#search_btn {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 5px;
}

#form:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    background-color: #fff;
    border-color: rgba(223,225,229,0);
}

#form:focus {
    
}

.footer {
    background-color: brown;
}
